EE09_ws_soap_server/WebContent/wsdl/Curse.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://view.br" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://view.br" xmlns:intf="http://view.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://view.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getListStudentByDiscipline">
    <complexType>
     <sequence>
      <element name="discipline" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getListStudentByDisciplineResponse">
    <complexType>
     <sequence>
      <element name="getListStudentByDisciplineReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getListStudentByDisciplineRequest">

      <wsdl:part element="impl:getListStudentByDiscipline" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getListStudentByDisciplineResponse">

      <wsdl:part element="impl:getListStudentByDisciplineResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Curse">

      <wsdl:operation name="getListStudentByDiscipline">

         <wsdl:input message="impl:getListStudentByDisciplineRequest" name="getListStudentByDisciplineRequest">

       </wsdl:input>

         <wsdl:output message="impl:getListStudentByDisciplineResponse" name="getListStudentByDisciplineResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CurseSoapBinding" type="impl:Curse">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getListStudentByDiscipline">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getListStudentByDisciplineRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getListStudentByDisciplineResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CurseService">

      <wsdl:port binding="impl:CurseSoapBinding" name="Curse">

         <wsdlsoap:address location="http://localhost:8081/EE09_ws_soap_server/services/Curse"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
